---
import Layout from "../layouts/Layout.astro";
---
<Layout pageTitle="Acerca de">
<h1>Acerca de</h1>
<p>loremEx nostrud cillum voluptate occaecat. Cillum cupidatat sit adipisicing nisi sunt ad nisi aliqua ut elit id duis ex tempor. Commodo adipisicing ea adipisicing labore labore qui voluptate elit proident velit. Labore cupidatat adipisicing labore laborum et incididunt eiusmod amet nulla aliqua qui ullamco. Laborum cupidatat sint nulla aute duis mollit sit. Velit mollit enim sint aute amet occaecat dolor. Cillum aliquip ex sit exercitation incididunt commodo adipisicing sit enim.</p>
</Layout>