---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout pageTitle="Servicios">

    <h1>Servicios</h1>
<p>loremEx nostrud cillum voluptate occaecat. Cillum cupidatat sit adipisicing nisi sunt ad nisi aliqua ut elit id duis ex tempor. Commodo adipisicing ea adipisicing labore labore qui voluptate elit proident velit. Labore cupidatat adipisicing labore laborum et incididunt eiusmod amet nulla aliqua qui ullamco. Laborum cupidatat sint nulla aute duis mollit sit. Velit mollit enim sint aute amet occaecat dolor. Cillum aliquip ex sit exercitation incididunt commodo adipisicing sit enim.</p>

<Card title="Hola Mundo" content="Esta una prueba"/>
<Card title="Programación" content="Servicio de desarrollo de aplicaciones"/>
<Card title="Diseño" content="Servicio de diseño"/>
<Card title="Asistencia Profesional" content="Servicio de asistencia"/>

<Card />
</Layout>