---
interface Props{
	title?: string;
	content?: string;
}
const {title = "Deafult Title", content = "Default Content"} = Astro.props;
---
<div class="bg-sky-500 p-4 mb-2 mb-3 ">
    <h1>{title}</h1>
    <p>{content}</p>
</div>

<style>
	.card{
		background-color: rgb(40,40,40);
		border-radius: 10px;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
		padding: 20px;
		width: 300px;
		border: 1px solid cornflowerblue;
		margin: 10px;
	}
</style>